/* Header.css */
header {
  height: 100vh;
  position: relative;
  padding: 28px;
  text-align: center;
}
header:before {
  background: linear-gradient(#a500eb86, #5128c427),
    url('./photo-compressed.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
header h1 {
  padding: 15vh 0 0 0;
  color: #ffffff;
  font-family: 'Lato';
}
header h2 {
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  color: #000000;
  font-family: 'Amatic SC', cursive;
  padding-top: calc(2.5vh + (20.5 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(2rem + (50 - 2) * ((100vw - 300px) / (1600 - 300)));
  height: 40vh;
  margin: 0;
  z-index: 1;
}
header h3 {
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-size: calc(2rem + (20 - 2) * ((100vw - 300px) / (1600 - 300)));
  font-style: italic;
  font-weight: 100;
  margin: 0;
  z-index: 1;
}

/* Fade-in */

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* End of Header.css */
