/* StaticQuotes.css */
.card {
  margin: 10vmin auto;
  width: 80%;
  height: calc(35vh + (26 - 35) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 9px;
  box-shadow: 14px 19px 10px 0px #00000040;
  -webkit-box-shadow: 14px 19px 10px 0px #00000040;
  -moz-box-shadow: 14px 19px 10px 0px #00000040;
}
.card * {
  transition: all 2s;
}
.h5 {
  /* font-size: 2rem; */
  margin: auto 2vmin 0 0;
}

#next-qoute {
  width: calc(20vw + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(8px + (26 - 8) * ((100vw - 300px) / (1600 - 300)));
  height: auto;
  margin: 2vmin;
}
#quote {
  margin: 4vmin auto;
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  max-height: 2rem;
}
.quote-body {
  margin: 5vh auto 20vh;
}
#quote-h1 {
  padding: 15vmax 0 0 0;
}
#Author {
  width: 80%;
  font-size: calc(16px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));

  max-width: 70vmin;
}
.position-absolute > .btn {
  margin: 5px;
  height: auto;
  font-size: calc(
    12px + (26 - 12) * ((100vw - 300px) / (1600 - 300))
  ) !important;
}
.end-0 {
  right: 5px !important;
}
/* End of StaticQuotes.css */
