/* Header.css */
/* header {
  height: 100vh;
  position: relative;
  padding: 28px;
  text-align: center;
} */
/* header:before {
  background: linear-gradient(#a500eb86, #5128c427),
    url('./photo-compressed.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
} */
/* header h1 {
  padding: 10vh 0 0 0;
  color: #ffffff;
  font-family: 'Lato';
}
header h2 {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Amatic SC', cursive;
  padding-top: calc(2.5vh + (20.5 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(2rem + (50 - 2) * ((100vw - 300px) / (1600 - 300)));
  height: 40vh;
  margin: 0;
}
header h3 {
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-size: calc(25px + (80 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-style: italic;
  font-weight: 100;
  margin: 0;
} */

header {
  height: 100vh;
  background-color: white;
}

.image-container {
  background: linear-gradient(#a500eb86, #5128c427),
    url('./photo-compressed.jpg'); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 100vh;
  position: relative;
  padding: 28px;
  text-align: center;
}

.text {
  background-color: white;
  color: black;
  /* font-size: 1vw; Responsive font size */
  font-size: calc(25px + (110 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 80%;
  height: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
/* End of Header.css */
