body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Quotes.css */
.card {
  margin: 10vmin auto;
  width: 70%;
  height: 40vmin;
}
.h5 {
  font-size: 2rem;
  margin: auto 2vmin 0 0;
}

#next-qoute {
  width: fit-content;
  margin: 2vmin;
}
#quote {
  margin: 4vmin auto;
  font-size: 1.4rem;
  max-height: 2rem;
}
#Author {
  width: 80%;
}
.position-absolute > button {
  margin: 5px;
}
/* End of Quotes.css */
